<md-dialog aria-label="Cadastro de automoveis">
	<form ng-cloak name="formCadastro">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Cadastro de viagens</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="ctrl.cancel()">
					<md-icon aria-label="Fechar janela">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<md-content layout="column" layout-padding>
			<div layout="row" layout-align="start center">
				<div flex="75" layout="column">
					<md-input-container>
						<label>Origem</label>
						<input type="text" ng-model="ctrl.directions.origin" />
					</md-input-container>
					<md-input-container>
						<label>Destino</label>
						<input type="text" ng-model="ctrl.directions.destination" />
					</md-input-container>	
				</div>
				<div flex="25" layout-align="end center">
					<md-button md-no-ink class="md-primary" ng-click="ctrl.getDirections()">
						Gerar
					</md-button>	
				</div>
			</div>
			<google-map control="ctrl.map.control" center="ctrl.map.center" zoom="ctrl.map.zoom">
				<marker coords="ctrl.marker.center"></marker>
			</google-map>
			
			<div id="directionsList" ng-show="ctrl.directions.showList"></div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="ctrl.cancel()">
				Cancelar
			</md-button>
			<md-button ng-disabled="formCadastro.$invalid" ng-click="ctrl.save(ctrl.viagem)">
				Savlar
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
<style type="text/css"></style>
